body {
    font-family: Arial, Verdana, sans-serif;}
    h1, h2 {
    color: #ee3e80;
    background-color: rgba(0,0,0,0.5);
opacity: 0.5,0.0,0.24;
}
    p {
    color:#FF0000;
};
#div{

};
.note{



}
:link{
    text-decoration:none
}
:hover{
    color: red
}
:visited{
    color: yellow
}


.credits {
    font-family: "Courier New", Courier,monospace;
        text-transform: uppercase}

p.note{
    
}